{% extends "layout.html" %}
{% block body_content %}
    <h1>{{name}}'s Profile.</h1>

<p>Maecenas ornare augue ligula. Quisque sollicitudin malesuada magna, vel mollis erat interdum ac. Donec molestie
    vehicula est. Nam nec interdum quam. Suspendisse porttitor urna non elit venenatis imperdiet. Lorem ipsum dolor
    sit amet, consectetur adipiscing elit. Donec quis nulla est. In augue felis, maximus quis accumsan quis, aliquam
    non mi. Fusce feugiat metus in lorem eleifend aliquam.</p>
<div>
<h3>Donec quis nulla es</h3>
<p>Maecenas ornare augue ligula. Quisque sollicitudin malesuada magna, vel mollis erat interdum ac. Donec molestie
    vehicula est. Nam nec interdum quam. Suspendisse porttitor urna non elit venenatis imperdiet. Lorem ipsum dolor
    sit amet, consectetur adipiscing elit. Donec quis nulla est. In augue felis, maximus quis accumsan quis, aliquam
    non mi. Fusce feugiat metus in lorem eleifend aliquam.</p>
    <div>
        <img src="static/img.png" alt="Picture of Marge Simpson"/>
    </div>
</div>
{% endblock %}