<!DOCTYPE html>
<html>
<head>
    <title>{{ title }} Page</title>
    <link rel="stylesheet" href ="{{ url_for('static', filename='styles.css') }}" />
    <style> @import url('https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap');
    </style>
</head>

<header class="intro">{{title}} Page</header>
<body>

<div class=".page-wrapper">
    {% block body_content %}
 {% endblock %}
    </div>
</body>
<footer>
    <li class="sidebar">
     <ul class="sidebar">
         <a href="http://127.0.0.1:4004/about">About Page</a>
     </ul>
        <ul class="sidebar">
            <a href="http://127.0.0.1:4004/">Home Page</a>
        </ul>
        <ul class="sidebar">
            <a href="http://127.0.0.1:4004/city">About Springfield</a>
        </ul>
     </li>
</footer>
</html>