<!DOCTYPE html>
<html>
<head>
    <title>{{ title }} Page</title>
    <link rel="stylesheet" href ="{{ url_for('static', filename='styles.css') }}" />
    <style> @import url('https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap');
    </style>
</head>

<header>
    <h1>{{title}} Page</h1>
</header>
<body>
<header> {{title}} Page </header>

    {% block body_content %}
    {% endblock %}
</body>
<footer>
    <div>
    <li>
     <ul>
         <a href="http://127.0.0.1:4004/about">About Page</a>
     </ul>
        <ul>
            <a href="http://127.0.0.1:4004/">Home Page</a>
        </ul>
        <ul>
            <a href="http://127.0.0.1:4004/city">About Springfield</a>
        </ul>
     </li>
        </div>
</footer>
</html>